<html>
<head>
	<title>Node.js test</title>
	<script src="https://www.google.com/jsapi"></script>
	<script>google.load("jquery", "1.7");</script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/canvas.js"></script>
	<script src="/js/client.js"></script>
</head>
<body>
	<canvas id="stage" width="600" height="600"></canvas>
</body>
</html>

