<html>
<head>
	<title>nekomeshi demo</title>
	<script src="https://www.google.com/jsapi"></script>
	<script>google.load("jquery", "1.7");</script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/canvas.js"></script>
	<script src="/js/client.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<canvas id="stage" width="600" height="480"></canvas>
	<p>赤：鬼</p>
	<p>青：自分</p>
	<p>緑：その他</p>
</body>
</html>

